### CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Project
.idea/

# CMake
cmake-build-*/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### LLVM
# LLVM tests
/llvm/test/
/llvm/unittests/

# LLVM docs
/llvm/docs/*
!/llvm/docs/LLVMBuild.txt

# LLVM unnecessary targets
/llvm/lib/Target/*/**/*
!/llvm/lib/Target/*/**/*/
!/llvm/lib/Target/X86/**
!/llvm/lib/Target/AArch64/**
!/llvm/lib/Target/ARM/**
!/llvm/lib/Target/**/LLVMBuild.txt

### Clang
# Clang tests
/clang/test/
/clang/unittests/

# Clang docs
/clang/docs

### LLD
# LLD tests
/lld/test/
/lld/unittests/

### Sysroot
# Generated sysroot
/sysroot/sysroot

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### zlib
/zlib/zconf.h
/zlib/zconf.h.included

### libxml2
/libxml2/*/
/libxml2/[^/]*
!/libxml2/CMakeLists.txt
!/libxml2/include/
!/libxml2/*.[c|h]
/libxml2/**/Makefile.am

### wimal
/cmake/.cache
/cmake/wimal
